# Python compiled
*.pyc

# Auto generated symbol images
htdocs/public/symbols/symbol-*.png

# Generated heatmaps
htdocs/public/heatmaps/heatmap.*.png

# Custom config files
config/*
!config/trackdirect.ini

ogndevices

db

# virtualenvs
/venv
/virtualenv
