# Python compiled
*.pyc

# Auto generated symbol images
htdocs/public/symbols/symbol-*.png

# Generated heatmaps
htdocs/public/heatmaps/heatmap.*.png

# Custom config files
config/*
!config/trackdirect.ini
!config/aprsc.conf
!config/postgresql.conf
!config/aprsc.conf
!config/apache-default.conf
!config/reverseproxy-default.conf

ogndevices

db

# virtualenvs
/venv
/virtualenv
.qodo
